* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .3s ease all;
}

body {
  background-color: rgba(231, 231, 231, 0.385);
}

.bg-white {
  background-color: white;
}

.bg-secondary {
  background-color: rgba(231, 231, 231, 0.523);
}

.container {
  width: 100%;
  height: 100vh;
  max-width: 1200px;
  padding: 0 3rem;
  display: flex;
  justify-content: center;
  margin: auto;
}

.search-bar {
  border-radius: 50px;
  border: 1px solid rgba(190, 190, 190, 0.634);
  margin-top: 3rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: white;
  position: relative;
}

.item {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  border-radius: 50px;
  cursor: pointer;
}


.divider {
  width: 1px;
  height: 30px;
  border: 0.5px solid rgba(136, 136, 136, 0.356);
}

.search-item {
  padding: 20px 35px;
  width: 100%;
  border-radius: 50px;
  z-index: 3;
}

.search-item:hover {
  background-color: rgba(204, 204, 204, 0.44);
}

.search-item h2 {
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}

.search-item p {
  font-size: 14px;
  color: gray;
}

.search-icon {
  width: 20px;
  height: 20px;
  line-height: 40px;
  background-color: #ff385c;
  border-radius: 100%;
  padding: 20px;
  color: white;
  position: absolute;
  right: 10px;
  font-size: 0.5rem;
  z-index: 5;
}

.active-search {
  position: absolute;
  left: 0;
  background: white;
  border-radius: 50px;
  width: 35%;
  height: 100%;
  z-index: 1;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.153);
}

.no-hover:hover {
  background: none !important;
  transform: none !important;
}



/* search-container */


.pop-up{
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.051);
  background-color: white;
  margin-top: 1rem;
  border-radius: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  height: 450px;
  overflow-y: scroll;
  position: absolute;
  top: 130px;
}
.pop-up > p{
  font-size: 12px;
  font-weight: 500;
  color: gray;
  margin-bottom: 0.3rem;
}

.card{
  display: flex;
  padding: 0.8rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  align-items: center;
  border-radius: 10px;
}

.card:hover{
  background-color: rgba(204, 204, 204, 0.44);
  cursor: pointer;
}

.card-icon{
  padding: 1.3rem;
  background-color: #ff385d36;
  border-radius: 10px;
  margin-right: 1rem;
  color:#ff385d;
}

.card-content{
  line-height: 1.3rem;
}

.card-content h2 {
  font-size: 0.85rem;
  margin-bottom: 0.1rem;
}

.card-content p {
  font-size: 15px;
  color: gray;
}


.search-container {
  position: relative;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}